.corpo{
    width: 900px;
    background: #E8E8D9;
    padding: 18px;
}
.corpo h1{
    color: #9c8271;
}

.final{
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    margin-top: 50px;
}